*{
	margin:0;
	overflow-y: hidden; 
	overflow-x: hidden;
	font-family: arial, Arial;
}
body{
	background-image: linear-gradient(#2b2b2b, #5b5b5b);
}
#container{
	display: inline-block;
	text-align: center;
	color: white;
	width: 90vw;
	height: 95vh;
	margin-top: 5vh;
	margin-left: 5vw;
}
.title{
	font-size: 5vh;
	margin-bottom: 10px;
}
canvas{
	background-color: white;
}
#gaming>div{
	display:inline-block;
	vertical-align: top;
	margin-left: 10px;
}
button{
	margin-bottom: 5px;
}
#dialog{
	position: absolute;
	top: 5vh;
	left: 5vw;
	height: 90vh;
	width: 90vw;
	text-align: center;
	background-color: black;
	border-width: 5px;
	border-color: rgb(100,100,255);
	border-style: solid;
	font-size: 50px;
	vertical-align: middle;
	line-height: 90vh;
}